name: Windows-Msys2-release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:

    runs-on: windows-latest

    steps:

    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          make
          python3
          mingw-w64-x86_64-clang 
          mingw-w64-x86_64-llvm

    - uses: Jarod42/install-premake5@v6

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: premake gmake
      run: |
          premake5.exe gmake --without-tinfo #--llvm-root=

    - name: make config=release
      shell: msys2 {0}
      run: |
          cd project/gmake
          make config=release verbose=1
          cd ../../bin/gmake/Release
          ./ccccc_test
          ./ccccc --version
          ./ccccc --help

    - name: prepare for upload # upload-artifact requires a common root path
      shell: msys2 {0}
      run: |
        mkdir ccccc
        cp bin/gmake/Release/ccccc.exe ./
        python mingw_deploy.py ccccc.exe

    - name: Upload ccccc
      uses: actions/upload-artifact@v5
      with:
        name: ccccc
        path: |
            ccccc.exe
            *.dll
            *.txt
            README.md
            template/**
            !template/ccccc_html/**
            3rd/*.js
            3rd/*.zip
