name: Ubuntu

on:
  workflow_dispatch:
  push:
    paths:
      - 'src/**'
      - 'test/**'
      - '.github/workflows/ubuntu.yml'
      - premake5.lua
jobs:
  build:
    strategy:
      matrix:
        llvm-version: [14, 19]
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: gcc version
      run: |
          g++ --version

    - name: Install premake & build ccccc
      uses: ./.github/actions/build-ccccc
      id: LLVM
      with:
          llvm-version: ${{ matrix.llvm-version }}

    - name: test ccccc
      run: |
          cd bin/gmake/Release
          ./ccccc_test
          ./ccccc --version
          ./ccccc --help

    - name: get sha1
      id: ccccc_sha1
      run: |
        echo "sha1=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

    - name: run ccccc on itself
      env:
        LLVM_ROOT: ${{ steps.LLVM.outputs.llvm-root }}
        CCCCC_SHA1: ${{steps.ccccc_sha1.outputs.sha1}}
      run: |
        echo "require 'premake-export-compile-commands/export-compile-commands'" >> premake-system.lua
        premake5 --llvm-root="$LLVM_ROOT" --expand-llvm-config export-compile-commands
        ./ccccc --template-file=template/ccccc_html/template.tpl --source-root-url=https://github.com/Jarod42/ccccc/blob/$CCCCC_SHA1 --exclude-directory=3rd project/export-compile-commands/release/compile_commands.json > index.html


    - name: Upload index.html
      uses: actions/upload-artifact@v6
      with:
        name: ccccc-llvm-${{matrix.llvm-version}}.html
        path: |
          index.html
